# FoxESS Modbus Plugin - Configuration and Sensor Mappings
# Source https://github.com/StealthChesnut/HA-FoxESS-Modbus
# This file isn't a valid configuration file!

# Instructions:
# copy the custom_components directory to your HA custom_components directory
# Add ONE of the modbus: lines to your configuration.yaml
# Add the sensors below to your configuration.yaml 
#
# USB: Edit the file to update the connection settings
#
# LAN: Add a new secret to your secrets file - FoxESSInverterIP: <your inverter IP>


modbus: !include custom_components/HA-FoxESS-Modbus/modbusUSB.yaml
modbus: !include custom_components/HA-FoxESS-Modbus/modbusLAN.yaml

#Sensors turn power values into power/hour values for meters
sensor: 
  - method: left
    name: pv1_sum
    platform: integration
    round: 2
    source: sensor.pv1_power
    unit_time: h
  - method: left
    name: pv2_sum
    platform: integration
    round: 2
    source: sensor.pv2_power
    unit_time: h
  - method: left
    name: pv_total_sum
    platform: integration
    round: 2
    source: sensor.pv_power_now
    unit_time: h
  - method: left
    name: load_sum
    platform: integration
    round: 2
    source: sensor.load_power
    unit_time: h
  - method: left
    name: bat_charge_sum
    platform: integration
    round: 2
    source: sensor.battery_charge
    unit_time: h
  - method: left
    name: bat_discharge_sum
    platform: integration
    round: 2
    source: sensor.battery_discharge
    unit_time: h
  - method: left
    name: feedin_sum
    platform: integration
    round: 2
    source: sensor.feed_in_power
    unit_time: h
  - method: left
    name: grid_consumption_sum
    platform: integration
    round: 2
    source: sensor.grid_consumption
    unit_time: h
  - platform: integration
    name: losses_sum
    source: sensor.system_losses
    unit_time: h
    method: left
    round: 2

 #Templates enable math operations against states/values to give us better data
template:
  - sensor:
      - name: "Battery Discharge"
        device_class: "power"
        unit_of_measurement: "kW"
        state: >
            {% if (states('sensor.battery_discharge_power') | float(default=0) ) > 0 %}
            {{ states('sensor.battery_discharge_power') | float(default=0) * 1 }}
            {% else %}
            0 
            {% endif %}
      - name: "Battery Charge"
        device_class: "power"
        unit_of_measurement: "kW"
        state: >
            {% if (states('sensor.battery_discharge_power') | float(default=0) ) < 0 %}
            {{ states('sensor.battery_discharge_power') | float(default=0) * -1 }}
            {% else %}
            0 
            {% endif %}
      - name: "Feed In Power"
        device_class: "power"
        unit_of_measurement: "kW"
        state: >
            {% if (states('sensor.grid_ct') | float(default=0) ) > 0 %}
            {{ states('sensor.grid_ct') | float(default=0) * 1 }}
            {% else %}
            0 
            {% endif %}
      - name: "Grid Consumption"
        device_class: "power"
        unit_of_measurement: "kW"
        state: >
            {% if (states('sensor.grid_ct') | float(default=0) ) < 0 %}
            {{ states('sensor.grid_ct') | float(default=0) * -1 }}
            {% else %}
            0 
            {% endif %}
      - name: "PV Power Now"
        device_class: "power"
        unit_of_measurement: "kW"
        state: >
              {{ (states('sensor.pv1_power') | float(default=0) + states('sensor.pv2_power') | float(default=0) ) * 1 }}
      - name: "PV Energy Daily"
        device_class: "energy"
        unit_of_measurement: "kWh"
        state: >
              {{ ((states('sensor.pv1_daily') | float(default=0) + states('sensor.pv2_daily') | float(default=0) ) * 1 ) | round(2) }} 
      - name: "System Losses"
        device_class: "power"
        unit_of_measurement: "kW"
        state: >
               {{ ((states('sensor.pv1_power') | float(default=0)
               + states('sensor.pv2_power') | float(default=0)
               + states('sensor.grid_consumption') | float(default=0)
               + states('sensor.battery_discharge') | float(default=0)
               - states('sensor.battery_charge') | float(default=0)
               - states('sensor.feed_in_power') | float(default=0)
               - states('sensor.load_power') | float(default=0) )) | round(2) }}
      - name: "Time Period 1 - Start Time"
        icon: "mdi:calendar-clock"
        state: >
          {% set raw_time = states('sensor.time_period_1_start') | int %}
          {% set hours = raw_time // 256 %}
          {% set minutes = raw_time - (hours * 256) %}
          {{ strptime(hours | string + ":" + minutes | string, '%H:%M').time() }}
      - name: "Time Period 1 - End Time"
        icon: "mdi:calendar-clock"
        state: >
          {% set raw_time = states('sensor.time_period_1_end') | int %}
          {% set hours = raw_time // 256 %}
          {% set minutes = raw_time - (hours * 256) %}
          {{ strptime(hours | string + ":" + minutes | string, '%H:%M').time() }}
      - name: "Time Period 2 - Start Time"
        icon: "mdi:calendar-clock"
        state: >
          {% set raw_time = states('sensor.time_period_2_start') | int %}
          {% set hours = raw_time // 256 %}
          {% set minutes = raw_time - (hours * 256) %}
          {{ strptime(hours | string + ":" + minutes | string, '%H:%M').time() }}
      - name: "Time Period 2 - End Time"
        icon: "mdi:calendar-clock"
        state: >
          {% set raw_time = states('sensor.time_period_2_end') | int %}
          {% set hours = raw_time // 256 %}
          {% set minutes = raw_time - (hours * 256) %}
          {{ strptime(hours | string + ":" + minutes | string, '%H:%M').time() }}

# Utility Meters - Provides meters to be used with the energy dashboard and reset daily
utility_meter:
  load_daily:
    source: sensor.load_sum
    cycle: daily
  pv1_daily:
    source: sensor.pv1_sum
    cycle: daily
  pv2_daily:
    source: sensor.pv2_sum
    cycle: daily
  bat_charge_daily:
    source: sensor.bat_charge_sum
    cycle: daily
  bat_discharge_daily:
    source: sensor.bat_discharge_sum
    cycle: daily
  feedin_daily:
    source: sensor.feedin_sum
    cycle: daily
  grid_daily:
    source: sensor.grid_consumption_sum
    cycle: daily
  losses_daily:
    source: sensor.losses_sum
    cycle: daily
